# Require owner to review everything
* @AutoGitr

# Explicitly protect automation and issue templates
.github/workflows/* @AutoGitr
.github/ISSUE_TEMPLATE/* @AutoGitr

# Explicitly protect dataset entries
data/* @AutoGitr
data/**/* @AutoGitr
